<div class="container-fluid w-100">
  @if (examinee && !showImage) {
    <button
      (click)="selectExaminee()"
      class="btn w-100"
      [class]="getActivity()">
      <span class="examinee-btn-label w-100">
        {{examinee.firstname}} {{examinee.lastname}}
      </span>
    </button>
  }

  @if (examinee && showImage) {
    <h3>{{examinee.firstname}} {{examinee.lastname}}</h3>

    <img src="{{getScreenshotAddress()}}" alt="Screenshot of {{examinee.firstname}} {{examinee.lastname}}'s screen">
  }
</div>
