<h1>Franklyn</h1>
<ul class="nav nav-tabs">
  <li class="nav-item"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact:true}"
    (click)="changeRoute()">
    <a class="nav-link"
       [class.active]="patrolModeActive"
       routerLink="/"
       (click)="changeRoute()">
      Patrol-Mode
    </a>
  </li>
  <li class="nav-item" routerLinkActive="active" (click)="changeRoute()">
    <a class="nav-link"
       [class.active]="!patrolModeActive"
       routerLink="video-viewer"
       (click)="changeRoute()">
      Video-Viewer
    </a>
  </li>
</ul>
<hr>

<router-outlet></router-outlet>
