<header>
  <nav
    class="navbar navbar-expand bg-primary"
    data-bs-theme="dark">
    <div class="container-fluid">
      <!--title-->
      <a class="navbar-brand fw-bold" routerLink="/">Franklyn</a>

      <!--routes-->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!--Test-Overview-->
        <li class="nav-item"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}"
            (click)="changeRoute()">
          <a class="nav-link"
             [class.active]="location.path() === '/test-overview'"
             routerLink="/"
             (click)="changeRoute()">
            Test-Overview
          </a>
        </li>
        <!--Patrol-Mode-->
        <li class="nav-item"
            routerLinkActive="active"
            (click)="changeRoute()">
          <a class="nav-link"
             [class.active]="location.path() === '/patrol-mode'"
             routerLink="patrol-mode"
             (click)="changeRoute()">
            Patrol-Mode
          </a>
        </li>
        <!--Video-Viewer-->
        <li class="nav-item"
            routerLinkActive="active"
            (click)="changeRoute()">
          <a class="nav-link"
             [class.active]="location.path() === '/video-viewer'"
             routerLink="video-viewer"
             (click)="changeRoute()">
            Video-Viewer
          </a>
        </li>
        <!--Metrics-Dashboard-->
        <li class="nav-item"
            routerLinkActive="active"
            (click)="changeRoute()">
          <a class="nav-link"
             [class.active]="location.path() === '/metrics-dashboard'"
             routerLink="metrics-dashboard"
             (click)="changeRoute()">
            Metrics Dashboard
          </a>
        </li>
      </ul>

      <!--settings dropdown-->
      <div class="nav-item d-flex dropdown">
        <!--scrollable when there are many fields (over 70% view height)-->
        <form class="dropdown-menu p-4 dropdown-menu-end settings-dropdown overflow-scroll" data-bs-theme="light">
          <div class="mb-3 form-check">
            <input #patrolModeOn
                   type="checkbox"
                   class="form-check-input"
                   id="patrol-mode-check"
                   name="patrol-mode-check"
                   [value]="store.value.patrol.isPatrolModeOn"
                   (change)="setPatrolMode(patrolModeOn.checked)">
            <label class="form-check-label" for="patrol-mode-check">
              Patrol-Mode
            </label>
          </div>
          <div class="mb-2">
            <label
              for="patrol-speed-range"
              class="form-label">
              Patrol speed: {{this.store.value.timer.patrolSpeed}} sec
            </label>
            <input #patrolSpeed
                   type="range"
                   class="form-range"
                   [min]="environment.minPatrolSpeed"
                   [max]="environment.maxPatrolSpeed"
                   id="patrol-speed-range"
                   name="patrol-speed-range"
                   [value]="store.value.timer.patrolSpeed"
                   (input)="setPatrolSpeed(Number(patrolSpeed.value))">
          </div>
          <div class="mb-2">
            <label
              for="get-client-interval"
              class="form-label">
              Get client interval: {{this.store.value.timer.nextClientTime}} sec
            </label>
            <input #nextClientTime
                   type="range"
                   class="form-range"
                   [min]="environment.minNextClientScheduleTime"
                   [max]="environment.maxNextClientScheduleTime"
                   id="get-client-interval"
                   name="get-client-interval"
                   [value]="store.value.timer.nextClientTime"
                   (input)="setNextClientTime(Number(nextClientTime.value))">
          </div>
          <div class="mb-4">
            <label
              for="patrol-screenshot-interval"
              class="form-label">
              Screenshot capture interval: {{this.store.value.timer.screenshotCaptureInterval}} sec
            </label>
            <input #screenshotInterval
                   type="range"
                   class="form-range"
                   [min]="environment.minNextClientScheduleTime"
                   [max]="environment.maxNextClientScheduleTime"
                   id="patrol-screenshot-interval"
                   name="patrol-screenshot-interval"
                   [value]="store.value.timer.screenshotCaptureInterval"
                   (input)="setScreenshotCaptureInterval(Number(screenshotInterval.value))">
          </div>
          <div>
            <button
              (click)="setResetText('')"
              class="btn btn-danger w-100"
              data-bs-toggle="modal"
              data-bs-target="#verification-modal">
              Reset
            </button>
          </div>
        </form>
        <button
          role="button"
          href="#"
          class="btn btn-primary d-flex align-items-center"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          data-bs-auto-close="outside">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-gear-fill" viewBox="0 0 16 16">
            <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/>
          </svg>
        </button>
      </div>
    </div>
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<!-- Modal -->
<div
  class="modal fade"
  id="verification-modal"
  tabindex="-1"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Reset</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <p>
          Please proceed with caution!
          By proceeding, you will disconnect all examinees
          and delete all screenshots and videos. If you continue,
          you will no longer have access to any videos that
          have been recorded thus far.
        </p>
        <p class="fw-bold">Please confirm by typing '{{environment.wantedResetText}}' in the box below and then pressing the reset button.</p>
        <input #resetText
               type="text"
               class="form-control"
               placeholder="{{environment.wantedResetText}}"
               (keyup)="setResetText(resetText.value)">
      </div>
      <div class="modal-footer">
        <button
          class="btn btn-secondary"
          data-bs-dismiss="modal">
          Cancel
        </button>
        <button
          (click)="resetExaminees()"
          class="btn btn-danger"
          [disabled]="resetTextIsWantedText()"
          data-bs-dismiss="modal">
          Reset
        </button>
      </div>
    </div>
  </div>
</div>
