<div>
  <table class="patrol-mode-height container-fluid">
    <tr>
      <td class="bg-light align-top pt-3 left-bar-width">
        <div class="overflow-scroll patrol-mode-height">
          <h6 class="fw-bold text-center">Examinees</h6>
          <app-examinee-list></app-examinee-list>
        </div>
      </td>
      <td class="examinee-patrol w-auto align-top pt-2 px-3">
        <app-examinee [examinee]="examineeRepo.getPatrolExaminee()" [showImage]="true"></app-examinee>
      </td>
    </tr>
  </table>
</div>

<div class="d-flex justify-content-around fixed-bottom bg-light pt-1">
  <div class="text-center align-self-center">
    <label>
      <input type="checkbox" [(ngModel)]="examineeRepo.patrolModeOn"> Patrol-mode
    </label>
  </div>

  <div>
    <label
      for="customRange"
      class="form-label">
      Patrol speed: {{patrolManagerService.getNextClientTimeFormatted()}} sec
    </label>
    <input
      type="range"
      class="form-range"
      [min]="environment.minNextClientScheduleTime"
      [max]="environment.maxNextClientScheduleTime"
      id="customRange"
      [(ngModel)]="patrolManagerService.nextClientTime">
  </div>
  <div>
    <label
      for="customRange"
      class="form-label">
      Screenshot capture interval: {{ examineeRepo.intervalSpeed}} sec
    </label>
    <input
      type="range"
      class="form-range"
      [min]="environment.minNextClientScheduleTime"
      [max]="environment.maxNextClientScheduleTime"
      id="screenshotCaptureInterval"
      (change)="screenshotCaptureIntervalUpdate()"
      [(ngModel)]="examineeRepo.intervalSpeed">
  </div>
  <div class="align-self-center" >
    <button
      (click)="emptyResetText()"
      class="btn btn-danger"
      data-bs-toggle="modal"
      data-bs-target="#verification-modal">
      Reset
    </button>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="verification-modal"
  tabindex="-1"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Reset</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <p>
          Please proceed with caution!
          By proceeding, you will disconnect all examinees
          and delete all screenshots and videos. If you continue,
          you will no longer have access to any videos that
          have been recorded thus far.
        </p>
        <p class="fw-bold">Please confirm by typing '{{environment.wantedResetText}}' in the box below and then pressing the reset button.</p>
        <input type="text" class="form-control" placeholder="{{environment.wantedResetText}}" [(ngModel)]="resetText">
      </div>
      <div class="modal-footer">
        <button
          class="btn btn-secondary"
          data-bs-dismiss="modal">
          Cancel
        </button>
        <button
          (click)="resetExaminees()"
          class="btn btn-danger"
          [disabled]="resetTextIsWantedText()"
          data-bs-dismiss="modal">
          Reset
        </button>
      </div>
    </div>
  </div>
</div>
