<div style="display: flex; text-align: center">
  <button (click)="resetExaminees($event)">Reset</button>
  <input type="checkbox" [(ngModel)]="examineeRepo.patrolModeOn"> Patrol-mode
</div>
<div style="width: 400px">
  <label
    for="customRange"
    class="form-label">
    Patrol speed: {{patrolManagerService.nextClientTime}} sec
  </label>
  <input
    type="range"
    class="form-range"
    [min]="environment.minNextClientScheduleTime"
    [max]="environment.maxNextClientScheduleTime"
    id="customRange"
    [(ngModel)]="patrolManagerService.nextClientTime">
</div>

<table>
  <tr>
    <td class="examinee-list">
      <b>Examinees:</b>
      <app-examinee-list></app-examinee-list>
    </td>
    <td class="examinee-patrol px-auto">
      <app-examinee [examinee]="examineeRepo.getPatrolExaminee()" [showImage]="true"></app-examinee>
    </td>
  </tr>
</table>
