/* You can add global styles to this file, and also import other style files */
.patrol-mode-height {
  height: 87vh
}

.video-viewer-height {
  height: 87vh
}

.left-bar-width {
  width: 25vw;
}

.examinee-btn-label {
  overflow: hidden;
  white-space: nowrap;
  display: block;
  text-overflow: ellipsis;
}
