/* You can add global styles to this file, and also import other style files */
/*height of the the application*/
.patrol-mode-height {
  height: 79vh
}

.video-viewer-height {
  height: 87vh
}

/*spacing at the end for the bar on the bottom*/
.bottom-spacing {
  height: 9vh;
}
