<div class="container h-100, d-flex flex-column">
  <div class="row h-bar">
    <div class="col-1 d-flex align-items-center">
      <h6 class="align-middle d-table-cell text-center">CPU Utilization</h6>
    </div>
    <div class="col-10">
      <canvas
        baseChart
        [data]="cpuChartData"
        [type]="cpuChartType"
        [options]="cpuChartOptions" class="h-bar">
      </canvas>
    </div>
    <div class="col-1 d-flex align-items-center">
      <h6 class="align-middle d-table-cell text-center">{{store.value.serverMetrics.cpuUsagePercent.toFixed(1)}} %</h6>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <canvas
        baseChart
        [data]="diskChartData"
        [type]="diskChartType"
        [plugins]="[ doughnutLabel ]"
        [options]="diskChartOptions">
      </canvas>
    </div>
    <div class="col-6">
      <canvas
        baseChart
        [data]="memChartData"
        [type]="memChartType"
        [plugins]="[ doughnutLabel ]"
        [options]="memChartOptions">
      </canvas>
    </div>
  </div>
</div>
