<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Franklyn</title>
    <style>
        .column {
            float: left;
            width: 20%;
        }

        .row:after {
            content: "";
            display: table;
            clear: both;
        }
    </style>
</head>
<h1>Examinees</h1>
<body>
    <div class="row">
        <div class="column">
            <ul>
                {#for examinee in examinees}
                    <li><a href="/overview/screenshot/{examinee}" role="button">{examinee}</a></li>
                {/for}
            </ul>
        </div>
        <div class="column">
            {#if image != ""}
                <image src="data:image/png;base64,{image}" width="1200"></image>
            {/if}
        </div>
    </div>
</body>
</html>
