<div>
  <table class="video-viewer-height container-fluid">
    <tr>
      <td class="bg-light align-top pt-3 left-bar-width">
        <div class="overflow-scroll video-viewer-height">
          <h6 class="fw-bold text-center">Examinees</h6>
          <app-examinee-download-list></app-examinee-download-list>
        </div>
      </td>
      <td class="examinee-patrol w-auto align-top pt-2 px-3">
        <app-examinee-video [examinee]="examineeRepo.getPatrolExaminee()"></app-examinee-video>
      </td>
    </tr>
  </table>
</div>
