<div>
  <table class="patrol-mode-height container-fluid">
    <tr>
      <td class="bg-light align-top pt-3 left-bar-width">
        <div class="overflow-scroll patrol-mode-height">
          <h6 class="fw-bold text-center">Examinees</h6>
          <app-examinee-list></app-examinee-list>
        </div>
      </td>
      <td class="examinee-patrol w-auto align-top pt-2 px-3">
        <app-patrol-page-examinee [examinee]="store.value.patrol.patrolExaminee" [showImage]="true"></app-patrol-page-examinee>
      </td>
    </tr>
  </table>
</div>


<div class="d-flex justify-content-around fixed-bottom bg-light py-2 bottom-bar-height">
  <div class="text-center align-self-center">
    <label>
      Patrol-mode: {{getPatrolModeOnState()}}
    </label>

  </div>

  <div class="text-center align-self-center">
    <label>
      Patrol speed: {{store.value.timer.patrolSpeed}} sec
    </label>
  </div>

  <div class="text-center align-self-center">
    <label>
      Get-Client interval: {{store.value.timer.nextClientTime}} sec
    </label>
  </div>

  <div class="text-center align-self-center">
    <label>
      Screenshot capture interval: {{store.value.timer.screenshotCaptureInterval}} sec
    </label>
  </div>
</div>
